*{
    padding: 0;
    margin: 0;
    outline: solid 1px red;
}

.container{
    display: flex;
    width: 100%;
}

/* Columnas principales */
.column-container{
    flex:1;
}

.row-container{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.row{
    display: flex;
    padding: 10px;
    flex: 1;
}

.row1{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.row2{
    flex: 1;
}

.column1{
flex:2;
}
.column2{
flex:1;
padding-left: 10px;
}

.items{
    background-color: gray;
}

.items-top2{
flex: 1;
}

.items-bottom2{
flex: 1;
}

.itemsc1{
    background-color: gray;
    margin: 10px;
    padding: 20px;
    height: 250px;
}

.items2{
    background-color: gray;
    margin: 10px;
    padding: 20% 40px;
    width: 25%;
}

.items3{
    background-color: gray;
    margin: 10px;
    padding: 20% 40px;
    width: 25%;
}

.items4{
    background-color: gray;
    margin: 10px;
    padding: 10px;
}

.top{
    height: 200px;
    margin-bottom: 15px;
}
.bottom{
    height: 100px;
}

.a{
    height: 150px;
    margin-bottom: 15px;
}

.b{
    height: 150px;
}

.left{
    height: 300px;
    width: 180px;
}

.right{
    margin-left: 10px;
    margin-top: 10px;
    height: 135px;
    width: 325px;
}

.right2{
    height: 135px;
    width: 325px;
    margin-left: 10px;
    margin-top:10px;
}

