* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {}

.top {
    margin: 0 auto;
    width: 60%;
    border-top: #9A00FF solid 5px;
    display: flex;
    flex-direction: row;
    padding: 2vh 2vh;
    background-color: #333333;
    align-items: center;
    margin-bottom: 20px;
}

.search {
    width: 50vh;
    height: 3vh;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #9A00FF;
    color: white;
    padding: 0.5vh 2vh;
    box-shadow: 2px 2px black;
    cursor: pointer;
    height: 30px;
}

.top h1 {
    color: white;
}

.block {
    height: 50px;
    width: 200px;
    background-color: silver;
    border: 1px dotted black;
    margin: 20px;
}

.flex-container {
    margin: 0 auto;
    width: 60%;
    display: flex;
}

.col-r {
margin-left: 20px ;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    width: 100%;
}

.user img {
    height: 40px;

}

.user-name {
    color: #9A00FF;
    font-weight: bold;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}


.video-small {

    display: flex; 
    align-items: center; 
    margin-bottom: 15px; 
    cursor: pointer; 
}

.video-title {
    color: #333333;
    font-size: 16px; 
    padding: 0 10px; 
    font-weight: bold; 
    flex-grow: 1; 
}

.vid-s {
    width: 120px; 
    height: 70px; 
    box-sizing: border-box;
}

.video-main {
    width: 500px;
    height: 300px;
}

.sub-header {
    margin-bottom: 5px;
}

hr {
    border: black solid;
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
}